* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***** JEROME *****/

.description::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

.description::-webkit-scrollbar-track {
    background: rgb(241, 240, 238);
    /* color of the tracking area */
}

.description::-webkit-scrollbar-thumb {
    background-color: rgb(203, 203, 207);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: rgb(241, 240, 238);
    /* creates padding around scroll thumb */
}

.fontsize1 {
    color: rgb(238, 215, 12);
    font-size: 2.5rem;
    text-shadow: black 3px 3px;
}

.description {
    font-size: small;
    height: 80px;
    /* overflow:hidden; */
    overflow-y: scroll;
    scrollbar-width: thin;
}

.button1{
    font-size: small;
    grid-gap: 0.5em;
}


/***** Adel *****/

.minusBtn {
    border-radius: 50%;
    padding: 0 10px;
}
.plusBtn {
    border-radius: 50%;
    padding: 0 8px;
}

.header {
    width: 100%;
    background-color: rgb(10, 10, 110);
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.checkbtn {
    font-size: 2.5em;
    color: white;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 125px;
    height: 150px;
    border-radius: 20px;
}

.link {
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: white;
    border: white 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0, 0%, 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 currentColor, 0 0 0.5em 0 currentColor;
    position: relative;
    transition: background-color 100ms linear;
}

.link::before {
    pointer-events: none;
    content: '';
    background: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}

.link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.25em white;
    opacity: 0;
    transition: opacity 100ms linear;
}

.link:hover,
.link:focus {
    background-color: white;
    color: rgb(14, 103, 143);
    text-shadow: none;
    box-shadow: inset 0 0 0 0, 0 0 0.5em 0 white;
}

.link:hover::after {
    opacity: 1;
}

.basket {
    text-decoration: none;
    color: rgb(14, 103, 143);
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 2rem;
}
.basket:hover {
    transform: rotateY(180deg);
    transition: 1s;
    perspective: 1000px;
}

.footer {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(10, 10, 110);
    margin-top: 5rem;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0 0 0.5em white;
}

.social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.social-logo {
    height: 2em;
}

.twitter {
    height: 1.7em;
}

.social-logo,
.twitter {
    transition: .8s;
    perspective: 1000px;
}

.social-logo:hover,
.twitter:hover {
    transform: rotateX(180deg);
}

/***** Adel MEDIA QUERIES *****/

@media screen and (max-width: 952px) {
    .logo {
        width: 100px;
        height: 125px;
    }
    .menu a {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 952px) {
    .checkbtn {
        display: block;
    }
}

/* Julien GLASS MORPHISM */

.card{
background: rgba(255, 254, 254, 0.3);
border-left: 1px solid rgb(255, 255, 255, .3);
border-top: 1px solid rgb(255, 255, 255, .3);
filter:brightness(10px);
/* -webkit-backdrop-filter: blur(10px); */
box-shadow: 20px 20px 40px -6px rgb(0,0,0, .2);
border-radius: 10%;
margin-bottom: 40px;
}

body {
    background: linear-gradient(45deg,#FFF67B, #D04B00, #4D0D1D, #41204D, #201E5D, #0639F3, #069EF3);
    /* background: linear-gradient(45deg,#DFB98A, #DFB98A, #BCCCDC, #79B7D0, #298EB8, #1473B7, #6BC4FE); */
    /* background: url("../img/ciel3.jpg")  no-repeat center; */
    background-size: 100%;
    /* display: flex;
    flex-wrap: wrap; */
}

/* Julien EFFET WAVY */

section {
    position: relative;
    width: 100vw;
    height: 189px;
    overflow: hidden;
    margin-bottom: 1em;
}

section .wave {
    position: absolute;
    top: 0;
    left: 0;
    height: 189px;
    width: 100%;
    background-size: 100%;
    background: url("../img/Vector\ 1.svg") ;
}

section .wave.wave1 {
     /* transform: rotate(180deg); */
     animation: animate 60s linear infinite;
     z-index: 1000;
     opacity: 1;
     animation-delay: 0s;
}

@keyframes animate {
    0%{
        background-position-x: 0;
    }
    100% {
        background-position-x: -6000px;
    }
}
section .wave.wave2 {
    /* transform: rotate(180deg); */
    animation: animate2 45s linear infinite;
    z-index: 900;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

@keyframes animate2 {
    0%{
        background-position-x: 0;
    }
    100% {
        background-position-x: 6000px;
    }
}

section .wave.wave3 {
    /* transform: rotate(180deg); */
    animation: animate2 45s linear infinite;
    z-index: 800;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

section .wave.wave3 {
    /* transform: rotate(180deg); */
    animation: animate2 45s linear infinite;
    z-index: 700;
    opacity: 0.7;
    animation-delay: -2s;
    bottom: 20px;
}
/* CSS TEXTE */
.card-text {
    font-size: 1.5rem;
    text-shadow: black 3px px;
    font-weight: 500;
}

.card-title {
    font-size: 2rem;
    text-shadow: rgb(7, 7, 7) 3px px;
    font-weight: 500;
    color: ivory;
}

.button1 {
    font-size: 1.5rem;
    text-shadow: black 3px px;
    font-weight: 500;
}
.button1:active {
    font-size: 1.5rem;
    text-shadow: black 3px px;
    font-weight: 500;
    background: black;
    color: ivory;
    transition: 0.1s;
}