* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***** JEROME *****/

.description::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

.description::-webkit-scrollbar-track {
    background: rgb(241, 240, 238);
    /* color of the tracking area */
}

.description::-webkit-scrollbar-thumb {
    background-color: rgb(203, 203, 207);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: rgb(241, 240, 238);
    /* creates padding around scroll thumb */
}

.fontsize1 {
    color: rgb(238, 215, 12);
}

.description {
    font-size: small;
    height: 80px;
    /* overflow:hidden; */
    overflow-y: scroll;
    scrollbar-width: thin;
}

.button1{
    font-size: small;
    grid-gap: 0.5em;
}
.imagesCss{
    height: 350px;
}

/***** ADEL *****/

.minusBtn {
    border-radius: 50%;
    padding: 0 10px;
}
.plusBtn {
    border-radius: 50%;
    padding: 0 8px;
}

.header {
    margin-bottom: 5rem;
    background-color: rgb(14, 103, 143);
    background-position: 50% 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 150px;
    height: 200px;
    border-radius: 20px;
}

.link {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 3rem;
}

.basket {
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 2rem;
}

.link:hover {
    color: white;
    background-color: rgb(14, 103, 143);
    transition: 0.3s;
}

.basket:hover {
    transform: rotateY(180deg);
    transition: 1s;
    perspective: 1000px;
}

@media screen and (max-width: 1000px) {
    .header {
        background: unset;
        padding: unset;
        margin-bottom: 2rem;
    }
    .logo {
        width: 80%;
        height: 350px;
    }
    .link {
        font-size: 1rem;
        font-weight: 700;
        color: black;
    }
    .basket {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

.footer {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(14, 103, 143);
    margin-top: 5rem;
}